 Write a code to reverse a string

In [ ]:
a = "Hello, World!"
print(a[::-1])

!dlroW ,olleH

Write a code to count the number of vowels in a string

In [ ]:
a = "Eutopia"
vowels = "aeiouAEIOU"
count = sum(1 for char in a if char in vowels)
print("Number of vowels:", count)

Number of vowels: 5

Write a code to check if a given string is a palindrome or not

In [ ]:
a = "rotator"
if a == a[::-1]:
  print("The string is palindrome.")
else:
    print("The string is not a palindrome.")

The string is palindrome.

Write a code to check if two given strings are anagrams of each other

In [ ]:
a = "listen"
b = "silent"
if sorted(a) == sorted(b):
  print("The string is anagram.")
else:
  print("The string is not anagram.")

The string is anagram.

Write a code to find all occurrences of a given substring within another string

In [ ]:
string = "ababcabcabc"
substring = "abc"

# Find all occurrences of the substring
positions = []
start = 0

while True:
    start = string.find(substring, start)
    if start == -1:
        break
    positions.append(start)
    start += len(substring)  # Move past the last found substring

print("All occurrences are at positions:", positions)

All occurrences are at positions: [2, 5, 8]

Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(s):
    # Edge case: empty string
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    # Add the last set of characters
    compressed.append(s[-1] + str(count))

    # Join list to form compressed string
    compressed_str = ''.join(compressed)

    # Return the compressed string if it's shorter; otherwise, the original
    return compressed_str if len(compressed_str) < len(s) else s

# Example usage
print(compress_string("aabcccccaaa"))
print(compress_string("abcd"))

a2b1c5a3
abcd

  Write a code to determine if a string has all unique characters

In [ ]:
def has_unique_characters(s):
    # Using a set to track characters
    seen_chars = set()

    for char in s:
        if char in seen_chars:
            return False
        seen_chars.add(char)

    return True

# Example usage
print(has_unique_characters("abcdef"))
print(has_unique_characters("aabbcc"))

True
False

Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_case(s, to_upper=True):
  if to_upper:
    return s.upper()
  else:
     return s.lower()

print(convert_case("Hello World", to_upper=True))
print(convert_case("Hello World", to_upper=False))

HELLO WORLD
hello world

Write a code to count the number of words in a string

In [ ]:

s = "This is a test string."

# Split the string by whitespace and count the words
words = s.split()
word_count = len(words)

# Display the result
print("Number of words:", word_count)

Number of words: 5

Write a code to concatenate two strings without using the + operator

In [ ]:

str1 = "Hello"
str2 = "World"


result = "".join([str1, str2])


print("Concatenated string:", result)

Concatenated string: HelloWorld

Write a code to remove all occurrences of a specific element from a list

In [ ]:
lst = [ 1, 2, 3, 4, 3, 5, 3]
element_to_remove = 3

result = [x for x in lst if x != element_to_remove]

print("List after removal:", result)

List after removal: [1, 2, 4, 5]

 Implement a code to find the second largest number in a given list of integers

In [ ]:
lst = [10, 20, 4, 45, 99]
updated_lst = list(set(lst))
updated_lst.sort(reverse=True)
if len(updated_lst) >= 2:
  second_largest = updated_lst[1]
  print("The second largest number is:", second_largest)
else:
  print("The list doesn't have a second largest number.")

The second largest number is: 45

Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
# Input list
lst = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 1]

# Initialize an empty dictionary to store counts
count_dict = {}

# Count occurrences of each element
for element in lst:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

# Display the result
print("Element counts:", count_dict)

Element counts: {1: 2, 2: 2, 3: 3, 4: 4}

Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:

lst = [1, 2, 3, 4, 5]

# Initialize two pointers
left = 0
right = len(lst) - 1

# Swap elements while moving pointers towards each other
while left < right:
    # Swap the elements at left and right indices
    lst[left], lst[right] = lst[right], lst[left]

    # Move the pointers
    left += 1
    right -= 1

# Display the result
print("Reversed list:", lst)

Reversed list: [5, 4, 3, 2, 1]

Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:

lst = [1, 2, 2, 3, 4, 4, 5, 3, 6]

# Initialize an empty list for unique elements and a set to track seen elements
updated_lst = []
seen = set()

# Iterate through the original list
for element in lst:
    if element not in seen:
        updated_lst.append(element)
        seen.add(element)

# Display the result
print("List after removing duplicates:", updated_lst)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
lst = [1, 2, 3, 4, 5]

# Check if the list is sorted in ascending order
is_ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))

# Check if the list is sorted in descending order
is_descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

# Determine if the list is sorted
if is_ascending:
    print("The list is sorted in ascending order.")
elif is_descending:
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

Write a code to merge two sorted lists into a single sorted list

In [ ]:
# Input sorted lists
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

# Merge and sort the lists
merged_list = sorted(list1 + list2)

# Display the result
print("Merged sorted list:", merged_list)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

Implement a code to find the intersection of two given lists

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find intersection using list comprehension
intersection = [element for element in list1 if element in list2]

# Display the result
print("Intersection of the lists:", intersection)

Intersection of the lists: [4, 5]

Create a code to find the union of two lists without duplicates

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find union using set to remove duplicates
union = list(set(list1).union(set(list2)))

print("Union of the lists without duplicates:", union)

Union of the lists without duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

lst = [1, 2, 3, 4, 5]

# Shuffle the list manually
for i in range(len(lst)):
    # Generate a random index to swap with the current element
    j = random.randint(0, len(lst) - 1)

    # Swap elements at i and j
    lst[i], lst[j] = lst[j], lst[i]

# Display the shuffled list
print("Shuffled list:", lst)

Shuffled list: [2, 4, 3, 5, 1]

Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

# Find common elements using set intersection and convert it back to a tuple
common_elements = tuple(set(tuple1).intersection(set(tuple2)))

# Display the result
print("Common elements:", common_elements)

Common elements: (4, 5)

 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:

set1_input = input("Enter the first set of integers (separated by commas): ")
set1 = set(map(int, set1_input.split(',')))

set2_input = input("Enter the second set of integers (separated by commas): ")
set2 = set(map(int, set2_input.split(',')))


intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

Enter the first set of integers (separated by commas): 3,4,7,6,5,4
Enter the second set of integers (separated by commas): 3,2,1,5,4,3,2
Intersection of the two sets: {3, 4, 5}

Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples and return the result
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
set1_input = input("Enter the first set of strings (separated by commas): ")
set1 = set(set1_input.split(','))


set2_input = input("Enter the second set of strings (separated by commas): ")
set2 = set(set2_input.split(','))


difference = set1 - set2
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings (separated by commas): John,Kym,Eric
Enter the second set of strings (separated by commas): Eric,Deb,Marie
Elements in the first set but not in the second set: {'John', 'Kym'}

Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
original_tuple = (10, 20, 30, 40, 50, 60)
start_index = 1
end_index = 4

# Extracting the subtuple using slicing
subtuple = original_tuple[start_index:end_index]


print(subtuple)

(20, 30, 40)

Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
set1 = set(input("Enter the first set of characters (no spaces): "))
set2 = set(input("Enter the second set of characters (no spaces): "))

# Calculate the union of the two sets
union_set = set1.union(set2)

# Print the result
print("The union of the two sets is:", union_set)

Enter the first set of characters (no spaces): 2345432
Enter the second set of characters (no spaces): 67897642
The union of the two sets is: {'7', '9', '6', '2', '5', '3', '4', '8'}

Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
numbers = (3, 1, 4, 1, 5, 9, 2, 6, 5)

# Find the maximum and minimum values
max_value, min_value = max(numbers), min(numbers)

# Print the results
print(f"Maximum value: {max_value}, Minimum value: {min_value}")

Maximum value: 9, Minimum value: 1

Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Compute the union, intersection, and differences
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set1 = set1.difference(set2)
difference_set2 = set2.difference(set1)

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set1 - Set2):", difference_set1)
print("Difference (Set2 - Set1):", difference_set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set1 - Set2): {1, 2, 3}
Difference (Set2 - Set1): {8, 6, 7}

Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
input_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_count = 2

# Count occurrences of the element in the tuple
occurrences = input_tuple.count(element_to_count)

print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
set1 = set(input("Enter the first set of strings, separated by spaces: ").split())
set2 = set(input("Enter the second set of strings, separated by spaces: ").split())

# Calculate the symmetric difference of the two sets
symmetric_difference = set1.symmetric_difference(set2)

# Print the result
print("The symmetric difference of the two sets is:", symmetric_difference)

Enter the first set of strings, separated by spaces: 'sri', 'akash', 'kabir', 'aadi'
Enter the second set of strings, separated by spaces: 'sri', 'kim', 'john'
The symmetric difference of the two sets is: {"'john'", "'kabir',", "'kim',", "'akash',", "'aadi'"}

Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
words = input("Enter a list of words, separated by spaces: ").split()

# Create a dictionary to store word frequencies
word_freq = {}

# Loop through each word in the list
for word in words:
    # If the word is already in the dictionary, increment its count
    if word in word_freq:
        word_freq[word] += 1
    # If the word is not in the dictionary, add it with count 1
    else:
        word_freq[word] = 1

print("Word frequencies:", word_freq)

Enter a list of words, separated by spaces: sri, rashmi, rashmi, sri, neha, mandy
Word frequencies: {'sri,': 2, 'rashmi,': 2, 'neha,': 1, 'mandy': 1}

Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [8]:
dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))

# Merge the dictionaries and add values for common keys
merged_dict = dict1.copy()  # Start with a copy of the first dictionary

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value  # Add values if the key is already in merged_dict
    else:
        merged_dict[key] = value  # Otherwise, add the new key-value pair

# Print the resulting merged dictionary
print("Merged dictionary:", merged_dict)

Enter the first dictionary: {'a' : 1, 'b' : 3, 'c' : 9}
Enter the second dictionary: {'a' : 2, 'b' : 9, 'c' : 7}
Merged dictionary: {'a': 3, 'b': 12, 'c': 16}

Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [4]:
# Define a nested dictionary
nested_dict = {
    'a': {
        'b': {
            'c': 42,
            'd': 10
        },
        'e': 15
    },
    'f': 30
}

# List of keys to traverse the dictionary
keys = ['a', 'b', 'c']

# Start from the top-level dictionary
current = nested_dict

# Traverse the dictionary using the keys
for key in keys:
    # Check if the current level is a dictionary and the key exists
    if isinstance(current, dict) and key in current:
        current = current[key]  # Move to the next level
    else:
        # If key doesn't exist or the current level isn't a dictionary, set to None
        current = None
        break

# Print the result
if current is not None:
    print("Value:", current)
else:
    print("Key path not found.")

Value: 42

Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [6]:
input_dict = eval(input("Enter a dictionary (e.g., {'a': 3, 'b': 1, 'c': 2}): "))

# Ask the user whether to sort in ascending or descending order
order = input("Sort in ascending or descending order? (asc/desc): ").strip().lower()

# Determine the sort order
reverse = order == "desc"  # True for descending, False for ascending

# Sort the dictionary by values
sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=reverse))

# Print the sorted dictionary
print("Sorted dictionary:", sorted_dict)

Enter a dictionary (e.g., {'a': 3, 'b': 1, 'c': 2}): {'a' : 4, 'b' : 8, 'c' : 3}
Sort in ascending or descending order? (asc/desc): desc
Sorted dictionary: {'b': 8, 'a': 4, 'c': 3}

Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [7]:
input_dict = eval(input("Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): "))

# Create an empty dictionary for the inverted result
inverted_dict = {}

# Loop through each key-value pair in the input dictionary
for key, value in input_dict.items():
    # If the value is already a key in the inverted dictionary, append the key to the list
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        # Otherwise, add the value as a key and the current key as a list
        inverted_dict[value] = [key]

# Print the inverted dictionary
print("Inverted dictionary:", inverted_dict)

Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): {'a' : 5, 'b' : 4, 'c' : 9}
Inverted dictionary: {5: ['a'], 4: ['b'], 9: ['c']}